@import "styles/variables";

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: $space-xl;
  align-items: center;
}

.pagination__button {
  padding: 10px;
}

.pagination__button:not(.pagination__button--current, .pagination__button--dots):hover {
  background-color: #DCE4E3 !important;
}

.pagination__button:not(.pagination__button--current), .pagination__button--dots {
  background-color: $white !important;
  color: $primary-black !important;
}

.pagination__arrow-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin: 0 15px;
  padding: 0;
}

.pagination__arrow-button--disabled {
  cursor: default;
}