@import "styles/variables";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: $space-s $space-l;
  cursor: pointer;
  border: 1px solid transparent;
}

.button--white, .button--white.button--loading:hover {
  background-color: $white;
  color: $primary-black;
  border: 1px solid $secondary-gray;
}

.button--accent, .button--accent.button--loading:hover {
  background-color: $accent-green;
  color: $white;
}

.button--accent:hover {
  background-color: $button-primary-bg-hover;
  color: $white;
  outline: none;
}

.button--white:hover {
  background-color: $button-primary-bg-disabled;
  color: $primary-black;
  border-color: transparent;
}

.button:disabled:not(.button--loading), .button:disabled:hover:not(.button--loading) {
  background-color: $button-primary-bg-disabled;
  color: $white;
  cursor: default;
  border-color: transparent;
}

.button--accent:active {
  background-color: $button-primary-bg-active;
  color: $white;
}

.button--white:active {
  background-color: $secondary-gray;
  color: $white;
}

.button__text {
  margin: 0;
}

.button--in_cart {
  background-color: $white;
  color: $accent-green;
  outline: 2px solid $accent-green;
}