@import "styles/variables";
@import "styles/mixins";

.card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  align-items: stretch;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.card__img {
  object-fit: cover;
  @include square(360px);
}

.card__body {
  padding: $space-xl $space-xs;
  gap: $space-l;
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: $space-xxs;
  margin-bottom: $space-l;
}

.card__description {
  height: calc(20px * 3);
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $space-xxs;
}

p {
  margin: 0;
}