@import "variables";

body {
  margin: 0;
  font-family: Roboto, serif;
  background-color: $gray-white;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

h2 {
  font-size: 32px !important;
}