@import "styles/variables";
@import "styles/mixins";

.back {
  display: flex;
  align-items: center;
  gap: $space-xs;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: $space-l;
}

.product-card {
  display: flex;
  gap: $space-xl;
  margin-bottom: $space-xl;
}

.product-card__img {
  object-fit: cover;
  @include square(600px)
}

.product-card__title {
  margin: 0 0 $space-m;
}

.product-card__description {
  margin-bottom: calc($space-xl + $space-l);
}

.product-card__button {
  margin-top: $space-xl;
}