@import "styles/variables";
@import "styles/mixins";

.header {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  height: 90px;
  align-items: center;
  border-bottom: 2px solid $header-border;
  padding: 0 100px;
}

.logo {
  @include square(42px);
}

.lalasia {
  width: 76.049px;
  height: 18.768px;
}

.div_logo {
  display: flex;
  gap: $space-xs;
  align-items: center;
}

.div_navigation {
  display: flex;
  align-items: center;
  @include font-size_line-height(18px);
  gap: $space-xl - 10;
}

.div_navigation_item {
  display: block;
  list-style-type: none;
  line-height: 90px;
  padding: 0 5px;
}

.div_navigation_item:first-child {
  border-bottom: 3px solid $accent-green;
  color: $accent-green;
}

.div_icons {
  display: flex;
  gap: $space-m;
}

.div_icons_item {
  @include square(30px);
}