@import "styles/variables";

.multi-dropdown {
    width: 300px;
}

.options-list {
    background-color: #FFFFFF;
    width: 300px;
    margin-top: -16px;
    padding: 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    height: calc(47px * 5);
    overflow-y: scroll;
}

.options-list__option {
    list-style-type: none;
    padding: 14px 12px;
    cursor: pointer;
}

.options-list__option:hover {
    color: $secondary-gray;
}

.options-list__option--selected {
    color: $accent-green;
}