@import "styles/variables";

.multidropdown {
    width: 400px;
}

.focused {
    border: 1px solid $accent-green;
}

.options_list {
    background-color: #FFFFFF;
    width: 300px;
    margin-top: -16px;
    padding: 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
}

.option {
    list-style-type: none;
    padding: 14px 12px;
}

.option:hover {
    color: $secondary-gray;
}

.option.selected {
    color: $accent-green;
}